# Assignment 2 - Pandas Introduction
All questions are weighted the same in this assignment.
## Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning.

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [11]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

In [5]:
df.info()
df.columns

<class 'pandas.core.frame.DataFrame'>
Index: 147 entries, Afghanistan (AFG) to Totals
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   № Summer        147 non-null    int64
 1   01 !            147 non-null    int64
 2   02 !            147 non-null    int64
 3   03 !            147 non-null    int64
 4   Total           147 non-null    int64
 5   № Winter        147 non-null    int64
 6   01 !.1          147 non-null    int64
 7   02 !.1          147 non-null    int64
 8   03 !.1          147 non-null    int64
 9   Total.1         147 non-null    int64
 10  № Games         147 non-null    int64
 11  01 !.2          147 non-null    int64
 12  02 !.2          147 non-null    int64
 13  03 !.2          147 non-null    int64
 14  Combined total  147 non-null    int64
dtypes: int64(15)
memory usage: 18.4+ KB

Index(['№ Summer', '01 !', '02 !', '03 !', 'Total', '№ Winter', '01 !.1',
       '02 !.1', '03 !.1', 'Total.1', '№ Games', '01 !.2', '02 !.2', '03 !.2',
       'Combined total'],
      dtype='object')

### Question 0 (Example)

What is the first country in df?

*This function should return a Series.*

In [9]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    df["country"]=df.index
    df.drop("Totals",inplace=True)
# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

In [290]:
df

,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !.1,02 !.1,03 !.1,Total.1,№ Games,01 !.2,02 !.2,03 !.2,Combined total,country
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,Afghanistan (AFG)
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,Algeria (ALG)
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,Argentina (ARG)
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,Armenia (ARM)
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,Australasia (ANZ) [ANZ]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yugoslavia (YUG) [YUG],16,26,29,28,83,14,0,3,1,4,30,26,32,29,87,Yugoslavia (YUG) [YUG]
Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3,Independent Olympic Participants (IOP) [IOP]
Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2,Zambia (ZAM) [ZAM]
Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8,Zimbabwe (ZIM) [ZIM]
Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17,Mixed team (ZZX) [ZZX]

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [292]:
def answer_one():
    m=max(df['01 !'])
    l=df[df['01 !']==m]
    return l["country"]
answer_one()

United States (USA) [P] [Q] [R] [Z]    United States (USA) [P] [Q] [R] [Z]
Name: country, dtype: object

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [41]:
import numpy as np
def answer_two():
    l=np.array(df["01 !"])
    l1=np.array(df["01 !.1"])
    l2=abs(l-l1)
    m=max(l2)
    l=df[(df['01 !']-df['01 !.1'])==m]
    return l["country"]
answer_two()

United States (USA) [P] [Q] [R] [Z]    United States (USA) [P] [Q] [R] [Z]
Name: country, dtype: object

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count?

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [69]:
def answer_three():
    base=df.loc[(df["01 !.1"]>=1)&(df["01 !"]>=1)]
    l=np.array(base["01 !"])
    l1=np.array(base["01 !.1"])
    l2=np.array(base["01 !.2"])
    l3=l+l1+l2
    l4=abs((l-l1))/l3
    m=max(l4)
    lis=base.loc[((base["01 !"]-base["01 !.1"])/(base["01 !"]+base["01 !.1"]+base["01 !.2"]))==m]["country"]
    return lis
answer_three()

Bulgaria (BUL) [H]    Bulgaria (BUL) [H]
Name: country, dtype: object

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created, with the country names as indices.

*This function should return a Series named `Points` of length 146*

In [71]:
def answer_four():
    l1=np.array(df["01 !.2"])
    l2=np.array(df["02 !.2"])
    l3=np.array(df["03 !.2"])
    sum=(l1*3)+(l2*2)+(l3*1)
    df["Points"]=sum
    return df["Points"]
Points = answer_four()
answer_four()

Afghanistan (AFG)                                 2
Algeria (ALG)                                    27
Argentina (ARG)                                 130
Armenia (ARM)                                    16
Australasia (ANZ) [ANZ]                          22
                                               ...
Yugoslavia (YUG) [YUG]                          171
Independent Olympic Participants (IOP) [IOP]      4
Zambia (ZAM) [ZAM]                                3
Zimbabwe (ZIM) [ZIM]                             18
Mixed team (ZZX) [ZZX]                           38
Name: Points, Length: 146, dtype: int64

## Part 2
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](https://www2.census.gov/programs-surveys/popest/technical-documentation/file-layouts/2010-2015/co-est2015-alldata.pdf) for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [13]:
census_df = pd.read_csv('census.csv')

In [75]:
census_df.info()
census_df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3193 entries, 0 to 3192
Data columns (total 100 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   SUMLEV                 3193 non-null   int64
 1   REGION                 3193 non-null   int64
 2   DIVISION               3193 non-null   int64
 3   STATE                  3193 non-null   int64
 4   COUNTY                 3193 non-null   int64
 5   STNAME                 3193 non-null   object
 6   CTYNAME                3193 non-null   object
 7   CENSUS2010POP          3193 non-null   int64
 8   ESTIMATESBASE2010      3193 non-null   int64
 9   POPESTIMATE2010        3193 non-null   int64
 10  POPESTIMATE2011        3193 non-null   int64
 11  POPESTIMATE2012        3193 non-null   int64
 12  POPESTIMATE2013        3193 non-null   int64
 13  POPESTIMATE2014        3193 non-null   int64
 14  POPESTIMATE2015        3193 non-null   int64
 15  NPOPCHG_2010           3193 non-null   int64
 16  NPOPCHG_2011           3193 non-null   int64
 17  NPOPCHG_2012           3193 non-null   int64
 18  NPOPCHG_2013           3193 non-null   int64
 19  NPOPCHG_2014           3193 non-null   int64
 20  NPOPCHG_2015           3193 non-null   int64
 21  BIRTHS2010             3193 non-null   int64
 22  BIRTHS2011             3193 non-null   int64
 23  BIRTHS2012             3193 non-null   int64
 24  BIRTHS2013             3193 non-null   int64
 25  BIRTHS2014             3193 non-null   int64
 26  BIRTHS2015             3193 non-null   int64
 27  DEATHS2010             3193 non-null   int64
 28  DEATHS2011             3193 non-null   int64
 29  DEATHS2012             3193 non-null   int64
 30  DEATHS2013             3193 non-null   int64
 31  DEATHS2014             3193 non-null   int64
 32  DEATHS2015             3193 non-null   int64
 33  NATURALINC2010         3193 non-null   int64
 34  NATURALINC2011         3193 non-null   int64
 35  NATURALINC2012         3193 non-null   int64
 36  NATURALINC2013         3193 non-null   int64
 37  NATURALINC2014         3193 non-null   int64
 38  NATURALINC2015         3193 non-null   int64
 39  INTERNATIONALMIG2010   3193 non-null   int64
 40  INTERNATIONALMIG2011   3193 non-null   int64
 41  INTERNATIONALMIG2012   3193 non-null   int64
 42  INTERNATIONALMIG2013   3193 non-null   int64
 43  INTERNATIONALMIG2014   3193 non-null   int64
 44  INTERNATIONALMIG2015   3193 non-null   int64
 45  DOMESTICMIG2010        3193 non-null   int64
 46  DOMESTICMIG2011        3193 non-null   int64
 47  DOMESTICMIG2012        3193 non-null   int64
 48  DOMESTICMIG2013        3193 non-null   int64
 49  DOMESTICMIG2014        3193 non-null   int64
 50  DOMESTICMIG2015        3193 non-null   int64
 51  NETMIG2010             3193 non-null   int64
 52  NETMIG2011             3193 non-null   int64
 53  NETMIG2012             3193 non-null   int64
 54  NETMIG2013             3193 non-null   int64
 55  NETMIG2014             3193 non-null   int64
 56  NETMIG2015             3193 non-null   int64
 57  RESIDUAL2010           3193 non-null   int64
 58  RESIDUAL2011           3193 non-null   int64
 59  RESIDUAL2012           3193 non-null   int64
 60  RESIDUAL2013           3193 non-null   int64
 61  RESIDUAL2014           3193 non-null   int64
 62  RESIDUAL2015           3193 non-null   int64
 63  GQESTIMATESBASE2010    3193 non-null   int64
 64  GQESTIMATES2010        3193 non-null   int64
 65  GQESTIMATES2011        3193 non-null   int64
 66  GQESTIMATES2012        3193 non-null   int64
 67  GQESTIMATES2013        3193 non-null   int64
 68  GQESTIMATES2014        3193 non-null   int64
 69  GQESTIMATES2015        3193 non-null   int64
 70  RBIRTH2011             3193 non-null   float64
 71  RBIRTH2012             3193 non-null   float64
 72  RBIRTH2013             3193 non-null   float64
 73  RBIRTH2014             3193 non-null   float64
 74  RBIRTH2015             3193 non-null   float64
 75  RDEATH2011             3193 non-null   float64
 76  RDEATH2012             3193 non-null   float64
 77  RDEATH2013             3193 non-null   float64
 78  RDEATH2014             3193 non-null   float64
 79  RDEATH2015             3193 non-null   float64
 80  RNATURALINC2011        3193 non-null   float64
 81  RNATURALINC2012        3193 non-null   float64
 82  RNATURALINC2013        3193 non-null   float64
 83  RNATURALINC2014        3193 non-null   float64
 84  RNATURALINC2015        3193 non-null   float64
 85  RINTERNATIONALMIG2011  3193 non-null   float64
 86  RINTERNATIONALMIG2012  3193 non-null   float64
 87  RINTERNATIONALMIG2013  3193 non-null   float64
 88  RINTERNATIONALMIG2014  3193 non-null   float64
 89  RINTERNATIONALMIG2015  3193 non-null   float64
 90  RDOMESTICMIG2011       3193 non-null   float64
 91  RDOMESTICMIG2012       3193 non-null   float64
 92  RDOMESTICMIG2013       3193 non-null   float64
 93  RDOMESTICMIG2014       3193 non-null   float64
 94  RDOMESTICMIG2015       3193 non-null   float64
 95  RNETMIG2011            3193 non-null   float64
 96  RNETMIG2012            3193 non-null   float64
 97  RNETMIG2013            3193 non-null   float64
 98  RNETMIG2014            3193 non-null   float64
 99  RNETMIG2015            3193 non-null   float64
dtypes: float64(30), int64(68), object(2)
memory usage: 2.4+ MB

Index(['SUMLEV', 'REGION', 'DIVISION', 'STATE', 'COUNTY', 'STNAME', 'CTYNAME',
       'CENSUS2010POP', 'ESTIMATESBASE2010', 'POPESTIMATE2010',
       'POPESTIMATE2011', 'POPESTIMATE2012', 'POPESTIMATE2013',
       'POPESTIMATE2014', 'POPESTIMATE2015', 'NPOPCHG_2010', 'NPOPCHG_2011',
       'NPOPCHG_2012', 'NPOPCHG_2013', 'NPOPCHG_2014', 'NPOPCHG_2015',
       'BIRTHS2010', 'BIRTHS2011', 'BIRTHS2012', 'BIRTHS2013', 'BIRTHS2014',
       'BIRTHS2015', 'DEATHS2010', 'DEATHS2011', 'DEATHS2012', 'DEATHS2013',
       'DEATHS2014', 'DEATHS2015', 'NATURALINC2010', 'NATURALINC2011',
       'NATURALINC2012', 'NATURALINC2013', 'NATURALINC2014', 'NATURALINC2015',
       'INTERNATIONALMIG2010', 'INTERNATIONALMIG2011', 'INTERNATIONALMIG2012',
       'INTERNATIONALMIG2013', 'INTERNATIONALMIG2014', 'INTERNATIONALMIG2015',
       'DOMESTICMIG2010', 'DOMESTICMIG2011', 'DOMESTICMIG2012',
       'DOMESTICMIG2013', 'DOMESTICMIG2014', 'DOMESTICMIG2015', 'NETMIG2010',
       'NETMIG2011', 'NETMIG2012', 'NETMIG2013', 'NETMIG2014', 'NETMIG2015',
       'RESIDUAL2010', 'RESIDUAL2011', 'RESIDUAL2012', 'RESIDUAL2013',
       'RESIDUAL2014', 'RESIDUAL2015', 'GQESTIMATESBASE2010',
       'GQESTIMATES2010', 'GQESTIMATES2011', 'GQESTIMATES2012',
       'GQESTIMATES2013', 'GQESTIMATES2014', 'GQESTIMATES2015', 'RBIRTH2011',
       'RBIRTH2012', 'RBIRTH2013', 'RBIRTH2014', 'RBIRTH2015', 'RDEATH2011',
       'RDEATH2012', 'RDEATH2013', 'RDEATH2014', 'RDEATH2015',
       'RNATURALINC2011', 'RNATURALINC2012', 'RNATURALINC2013',
       'RNATURALINC2014', 'RNATURALINC2015', 'RINTERNATIONALMIG2011',
       'RINTERNATIONALMIG2012', 'RINTERNATIONALMIG2013',
       'RINTERNATIONALMIG2014', 'RINTERNATIONALMIG2015', 'RDOMESTICMIG2011',
       'RDOMESTICMIG2012', 'RDOMESTICMIG2013', 'RDOMESTICMIG2014',
       'RDOMESTICMIG2015', 'RNETMIG2011', 'RNETMIG2012', 'RNETMIG2013',
       'RNETMIG2014', 'RNETMIG2015'],
      dtype='object')

In [89]:
def answer_five():
    x=census_df.sort_values(by='COUNTY',ascending=False)
    return x.head(1)["STNAME"]
answer_five()

2999    Virginia
Name: STNAME, dtype: object

### Question 6
**Only looking at the three most populous counties for each state**, what are the three most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

*This function should return a list of string values.*

In [141]:
def answer_six():
    l=list(census_df["STNAME"].unique())
    l1=[]
    for i in l:
        l2=list(census_df.loc[census_df["STNAME"]==i]["CENSUS2010POP"])
        li=[]
        for j in range(3):
            if len(l2)!=0:
                m=max(l2)
                li.append(m)
                l2.remove(m)
        s=sum(li)
        l1.append(s)
    f=[]
    for z in range(3):
        ind=l1.index(max(l1))
        f.append(l[ind])
        l1.remove(max(l1))
    return f
answer_six()

['California', 'Tennessee', 'New Mexico']

### Question 7
Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

*This function should return a single string value.*

In [35]:
def answer_seven():
    l6=list(census_df["STNAME"].unique())
    li1=[]
    for i in l6:
        li=[]
        li.append(list(census_df.loc[census_df["STNAME"]==i]["POPESTIMATE2010"]))
        li.append(list(census_df.loc[census_df["STNAME"]==i]["POPESTIMATE2011"]))
        li.append(list(census_df.loc[census_df["STNAME"]==i]["POPESTIMATE2012"]))
        li.append(list(census_df.loc[census_df["STNAME"]==i]["POPESTIMATE2013"]))
        li.append(list(census_df.loc[census_df["STNAME"]==i]["POPESTIMATE2014"]))
        li.append(list(census_df.loc[census_df["STNAME"]==i]["POPESTIMATE2015"]))
        ma=-9999999999999999
        mi=9999999999999999
        for j in li:
            for x in j:
                if ma<x:
                    ma=x
                if mi>x:
                    mi=x
        li1.append(ma-mi)
    d=li1.index(max(li1))
    f1=l6[d]
    return f1
answer_seven()

'California'

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column.

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*

In [57]:
def answer_eight():
    r=census_df.loc[(census_df["REGION"]==1)|(census_df["REGION"]==2)]
    r=r.loc[(r["CTYNAME"].str.startswith('Washington')==True)]
    r=r.loc[(r["POPESTIMATE2015"]>r["POPESTIMATE2014"])]
    return r.drop(columns=['SUMLEV', 'REGION', 'DIVISION', 'STATE', 'COUNTY',
       'CENSUS2010POP', 'ESTIMATESBASE2010', 'POPESTIMATE2010',
       'POPESTIMATE2011', 'POPESTIMATE2012', 'POPESTIMATE2013',
       'POPESTIMATE2014', 'POPESTIMATE2015', 'NPOPCHG_2010', 'NPOPCHG_2011',
       'NPOPCHG_2012', 'NPOPCHG_2013', 'NPOPCHG_2014', 'NPOPCHG_2015',
       'BIRTHS2010', 'BIRTHS2011', 'BIRTHS2012', 'BIRTHS2013', 'BIRTHS2014',
       'BIRTHS2015', 'DEATHS2010', 'DEATHS2011', 'DEATHS2012', 'DEATHS2013',
       'DEATHS2014', 'DEATHS2015', 'NATURALINC2010', 'NATURALINC2011',
       'NATURALINC2012', 'NATURALINC2013', 'NATURALINC2014', 'NATURALINC2015',
       'INTERNATIONALMIG2010', 'INTERNATIONALMIG2011', 'INTERNATIONALMIG2012',
       'INTERNATIONALMIG2013', 'INTERNATIONALMIG2014', 'INTERNATIONALMIG2015',
       'DOMESTICMIG2010', 'DOMESTICMIG2011', 'DOMESTICMIG2012',
       'DOMESTICMIG2013', 'DOMESTICMIG2014', 'DOMESTICMIG2015', 'NETMIG2010',
       'NETMIG2011', 'NETMIG2012', 'NETMIG2013', 'NETMIG2014', 'NETMIG2015',
       'RESIDUAL2010', 'RESIDUAL2011', 'RESIDUAL2012', 'RESIDUAL2013',
       'RESIDUAL2014', 'RESIDUAL2015', 'GQESTIMATESBASE2010',
       'GQESTIMATES2010', 'GQESTIMATES2011', 'GQESTIMATES2012',
       'GQESTIMATES2013', 'GQESTIMATES2014', 'GQESTIMATES2015', 'RBIRTH2011',
       'RBIRTH2012', 'RBIRTH2013', 'RBIRTH2014', 'RBIRTH2015', 'RDEATH2011',
       'RDEATH2012', 'RDEATH2013', 'RDEATH2014', 'RDEATH2015',
       'RNATURALINC2011', 'RNATURALINC2012', 'RNATURALINC2013',s
       'RNATURALINC2014', 'RNATURALINC2015', 'RINTERNATIONALMIG2011',
       'RINTERNATIONALMIG2012', 'RINTERNATIONALMIG2013',
       'RINTERNATIONALMIG2014', 'RINTERNATIONALMIG2015', 'RDOMESTICMIG2011',
       'RDOMESTICMIG2012', 'RDOMESTICMIG2013', 'RDOMESTICMIG2014',
       'RDOMESTICMIG2015', 'RNETMIG2011', 'RNETMIG2012', 'RNETMIG2013',
       'RNETMIG2014', 'RNETMIG2015'])
answer_eight()

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County